<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile of "JASON SALCEDO" </title>
{#	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href={% static 'pushmodule/css/bootstrap.min.css' %}>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css"> -->
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>
<body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
{#            <center><img src="img/avatar.png" style="border-radius:50%;"></center>#}
              <center><img style="border-radius:50%;" src={% static 'pushmodule/img/avatar.png' %} ></center>
            <center><h4>Welcome back Jason!</h4></center>
            <li class="active"> <a href="profile-listen.html">Listen</a></li>
            <li><a href="/profile/dibs">My Dibs</a></li>
            <li><a href="/profile/saves">My Saves</a></li>
            <li><a href="/profile/social">Social</a></li>
            <li><a href="/profile/settings">Settings</a></li>
          </ul> 
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="page-header"><center><h1>I'M FEELING...</h1></center></div>
          <div class="row placeholders center">
            
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/happy.png' %} >
              <div class="img-txt1"><h4>HAPPY</h4></div>
            </div></a>
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/in-love.png' %} >
              <div class="img-txt1"><h4>IN LOVE</h4></div>
            </div></a>
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/overjoyed.png' %} >
              <div class="img-txt1"><h4>OVERJOYED</h4></div>
            </div></a>
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/sad.png' %} >
              <div class="img-txt1"><h4>SAD</h4></div>
            </div></a>

          </div><!-- Row Placeholder Ends -->
          <div>
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/surprised.png' %} >
              <div class="img-txt1"><h4>/SURPRISED</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/worried.png' %} >
              <div class="img-txt1"><h4>WORRIED</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/crazy.png' %} >
              <div class="img-txt1"><h4>CRAZY</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/moods/crying.png' %} >
              <div class="img-txt1"><h4>CRYING</h4></div>
            </div></a>

          </div><!-- Row Placeholder Ends -->
          <div class="page-header"><center><h1>I WANT TO LISTEN TO...</h1></center></div>
          <br>
          <div class="row placeholders center">
            
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/acoustic.png' %} >
              <div class="img-txt1"><h4>ACOUSTIC</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/hip hop.png' %} >
              <div class="img-txt1"><h4>HIPHOP</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/party.png' %} >
              <div class="img-txt1"><h4>PARTY</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/popular.png' %} >
              <div class="img-txt1"><h4>POPULAR</h4></div>
            </div></a>
          </div><!-- Row Placeholder Ends -->

          <div class="row placeholders center">
            
            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="160" height="160" class="img-responsive center" src={% static 'pushmodule/img/genres/punk.png' %} >
              <div class="img-txt1"><h4>PUNK</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="160" height="160" class="img-responsive center" src={% static 'pushmodule/img/genres/reggae.png' %} >
              <div class="img-txt1"><h4>REGGAE</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/slow.png' %} >
              <div class="img-txt1"><h4>SLOW</h4></div>
            </div></a>

            <a href="#$#$#" class="link-box"><div class="col-xs-6 col-sm-3 center enlarge">
                <img width="200" height="200" class="img-responsive center" src={% static 'pushmodule/img/genres/traditional.png' %} >
              <div class="img-txt1"><h4>TRADITIONAL</h4></div>
            </div></a>

            </div>
          </div><!-- Row Placeholder Ends -->
          



          

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="./Dashboard Template for Bootstrap_files/jquery.min.js.download"></script>#}
{#    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>#}
{#    <script src="./Dashboard Template for Bootstrap_files/bootstrap.min.js.download"></script>#}
{#    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->#}
{#    <script src="./Dashboard Template for Bootstrap_files/holder.min.js.download"></script>#}
{#    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#    <script src="./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js.download"></script>#}

{% include 'landing/lower_js.html' %}

</body>
</html>