{% block content %}
{% load staticfiles %}
        <script type="text/javascript" src={% static 'landing/js/jquery.1.11.1.js' %}></script>
	    <script type="text/javascript" src={% static 'landing/js/bootstrap.js' %}></script>
	    <script type="text/javascript" src={% static 'landing/js/modernizr.custom.js' %}></script>
      <script type="text/javascript" src={% static 'landing/js/jquery.bxslider.js' %}></script>

    <!-- Custom Javascripts ================================================== -->
    	<script type="text/javascript" src={% static 'landing/js/main.js' %}></script>

{% endblock %}